<%- include ('../partials/header') %>
<header class="home-cta">
  <h1>
    <strong>Lab 04:</strong>
    <hr>
    <br>
    <span>Your turn...</span>

    <div>
      <a href="/products/new" class="btn btn-success mt-5">Create a new product!</a>
    </div>

  </h1>
</header>
<%- include ('../partials/footer') %>